html {
    font-size:16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color:whitesmoke;
    font-family: Roboto;
    letter-spacing: 0.12rem;
    line-height: 1.5rem;
    margin-left:auto;
    margin-right: auto;
    overflow-x: hidden;
}

/*All pictures*/
.pic {
    width:100%;
    height:100%;
}

/*styling left navigation (logo pic and logo page name)*/
.left_nav {
    height: 100%;
    display: flex;
    margin-left:1rem;
}

.page_logo_pic {
    width:3.2rem;
    height:80%;
    margin: auto 0 auto 0;
}

.page_logo_name {
    margin-left: 2rem;
    width:10rem;
    position: relative;
}

.page_logo_name1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    position: absolute;
    top:0.5rem ;
    left:35%;
    font-size: 2rem;
    color:rgb(68, 133, 142);
    text-shadow: 0.2rem -0.1rem rgb(42, 91, 103);
}

.page_logo_name2 {
    font-family: sans-serif;
    display: block;
    position: absolute;
    bottom: 0.5rem;
    left:22%;
    font-size: 2rem;
    color:rgb(68, 133, 142);
    text-shadow: 0.2rem -0.1rem rgb(42, 91, 103);
}

/*styling right navigation*/
.right_nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap:2rem;
    margin-right:1rem;
}

.links {
    padding:1.72rem;
    background-color: rgb(0, 20, 0);
    text-decoration: none;
    color:white;
}

.links:hover {
    background-color: rgb(68, 107, 50);
}
.links:active {
    background-color: rgb(56, 91, 67);
}

/*Styling the whole top bar*/
.top_bar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
    background-color: rgb(24, 62, 65);
    height:5rem;
    display: flex;
    justify-content: space-between;
}

/*Styling the introduction section*/
.introduction {
    position: relative;
    background-color: rgb(210, 245, 245);
    color:black;
    margin-top: 5.05rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 0.5rem 0 1.5rem 0;
}

.introduction_text {
    margin-left: 2.2rem;
}

.introduction_text p {
    max-width:35rem;
    flex-shrink: 1;
}

.introduction h1 {
  color:rgb(64, 84, 91);
}

.introduction_text {
    flex-shrink: 1;
}


.introduction_pic {
    width:35rem;
    height:20rem;
    min-width:35rem;
    margin: auto 0 auto 0;
}
/*styling section3_stages*/
#main_content {
    background-color: white;
    color:black;
    padding-top: 3rem;
}

.section3_pictures  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
}

#main_content h1 {
    text-align: center;
    font-size: 2.0rem;
}

#main_content p {
    text-align: center;
    font-weight: bold;
}

.goal_stages { 
    width:14rem;
}

.goal_stages_pic {
    height:10rem;
}

.goal_stages_pic img {
    border-radius: 10%;
    border:5px solid rgb(210, 245, 245);
}

figcaption {
    text-align: center;
}

/*Styling the quote (div) and the main blockquote*/
.quote {
    
    background-image: url(Pictures/background.jpg);
    background-color: #e61515;
    background-size:50rem,1rem;
    background-repeat: repeat;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote {
    background-color: #00000067;
    font-size: 1.8rem;    
    padding: 5rem 2rem 5rem 2rem;
    text-align: center;
    line-height: 2.5rem;
}


/*Styling call to action part*/
.parent_call_to_action{
    height:20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call_to_action {
    background-color: rgb(128, 233, 237);
    width: 99%;
    height:50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 2rem 4rem 2rem;
}

.call_to_action_text span:first-child {
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    margin-right:0;
    border:1px solid rgb(89, 113, 113);
    border-radius: 0.5rem;    
    padding: 0.5rem 2rem 0.5rem 2rem;
    animation:buttons 1s infinite;
}

@keyframes buttons {
    from {background: rgb(200, 245, 197)};
    to {background: rgb(6, 109, 37)};
}

footer {
    margin-top:-0.95rem;
    background-color: rgb(210, 245, 245);
    color: rgb(5, 4, 4);
}

@media (max-width:855px) and (min-width:755px) {
    html {
        font-size: 14px;
    }
}

@media (max-width:755px) and (min-width:655px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:655px) and (min-width:510px) {
    html {
        font-size: 13px;
    }
    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction_pic {
        margin-left:-4rem;
    }
    .links {
        padding:1.72rem 0.5rem 1.72rem 0.5rem;
        background-color: rgb(0, 20, 0);
    }
}

@media (max-width:510px) and (min-width:410px) {
    html {
        font-size: 11px;
    }
    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction_pic {
        margin-left:-4rem;
    }
    .links {
        padding:1.72rem 0.1rem 1.72rem 0.1rem;
        background-color: rgb(0, 20, 0);
    }
}

@media (max-width:410px) and (min-width:320px) {
    html {
        font-size: 9px;
    }
    body {
        overflow-x: hidden;
    }
    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction_pic {
        margin:auto;
    }
    .links {
        padding:1.72rem 0.1rem 1.72rem 0.1rem;
        background-color: rgb(0, 20, 0);
    }
   
   .right_nav .links:last-child {
        display: none;
    }
}

@media (max-width:320px) {
    html {
        font-size: 7px;
        overflow-x: scroll;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction_pic {
        margin:auto;
    }
    .links {
        padding:1.72rem 0.1rem 1.72rem 0.1rem;
        background-color: rgb(0, 20, 0);
    }
   
   .right_nav .links:last-child {
        display: none;
    }
}
